.layout
  display: flex
  flex-direction: column
  min-height: 100vh
  background-color: aliceblue

.container
  flex: 1
  width: 1024px
  margin: auto
  background-color: azure

.main
  margin: 1rem
  background-color: white