.layout
  display: flex
  flex-direction: column
  min-height: 100vh
  background-color: azure

.container
  flex: 1
  width: 1024px
  margin: 1rem auto
  background-color: white
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.40)

.main
  margin: 1rem