body
  margin: 0

*
  font-family: 'Noto Sans JP', sans-serif
  line-height: 2rem

pre
  white-space: pre

code, code *
  font-family: 'Red Hat Mono', monospace

aside
  font-size: small
  color: darkgray

.figureWithCaption
  text-align: center

.phantom
  color: rgba(255, 255, 255, 0)
